/*content*/
/*************************************/
.ctBanner{
	width: 100%;
	overflow: hidden;
}
.ctBanner img{
	width: 100%;
}
.ctlist{
	width: 100%;
	background: #fee9d6;
}
.ctlist .ctlistct{
	width: 1018px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.ctlist .ctlistct .ctula{
	overflow: hidden;
}
.ctlist .ctlistct .ctula li{
	width: 505px;
	height: 364px;
	background: url(../img/kuang.jpg) no-repeat center;
	float: left;
}
.ctlist .ctlistct .ctula li dl dt{
	width: 260px;
	height: 300px;
	margin: 30px 0 0 20px;
	overflow: hidden;
	position: relative;
	float: left;
}
.ctlist .ctlistct .ctula li dl dt img{
	position: absolute;
	left: 0;
}
.ctlist .ctlistct .ctula li dl dd{
	margin-top: 30px;
	float: left;
}
.ctlist .ctlistct .ctula li dl dd a{
	font-size: 24px;
	font-weight: bold;
	color: #da0c30;
	display: block;
}
.ctlist .ctlistct .ctulb a{
	width: 203px;
	height: 36px;
	display: block;
	background: url(../img/jirucart.jpg) no-repeat center;
	margin: 20px;
}
.ctlist .ctlistct .ctulb{
	width: 1009px;
	background: #e60012;
	overflow: hidden;
}
.ctlist .ctlistct .ctulb li{
	width: 246px;
	height: 390px;
	position: relative;
	text-align: center;
	background: #FFF;
	margin: 3px;
	float: left;
}
.ctlist .ctlistct .ctulb div{
	width: 246px;
	height: 390px;
	background: #FFF;
	opacity: .7;
	filter: alpha(opacity=70);
	position: absolute;
	left: 0;
	top: 0;
}
.ctlist .ctlistct .more{
	margin: 20px 0;
}
.ctlist .ctlistct .bt3{
	margin-bottom: 10px;
}
