html,body{
	background: white;
}
.carthead{
	width: 100%;
	height: 30px;
	background: #f4f4f4;
	border-bottom: 1px solid #CCCCCC;
}
.star{
	color: #ffcc00;
	font-size: 16px;
}
.hcontent{
	width: 1093px;
	line-height: 30px;
	margin: 0 auto;
}
.hcontent p{
	width: 500px;
	float: right;
}
.hcontent p span{
	margin: 0 5px;
}
.hcontent p a{
	color: #000;
}
.hcontent p b{
	color: #F00;
}
.cartcontent{
	width: 1093px;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px 0;
}
.cartcontent .zj{
	float: left;
}
.cartcontent .gouwu{
	float: right;
}
.cartct{
	width: 1093px;
	overflow: hidden;
	margin: 0 auto;
}
.cartct h3{
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	width: 999px;
	margin: 0 auto;
}
.cartct table{
	border: 1px solid #CCCCCC;
	width: 999px;
	margin: 0 auto;
}
.cartct table thead{
	line-height: 32px;
	background: #f3f3f3;
	border-top: 2px solid #b9b9b9;
	text-align: center;
	
}
.cartct table tr{
	text-align: center;
	border: 1px solid #CCCCCC;
}
.cartct table tr td dl{
	width: 280px;
	margin: 14px 0 14px 50px;
	overflow: hidden;
}
.cartct table tr td i{
	font-style: normal;
	color: red;
	margin-bottom: 10px;
	display: block;
}
.cartct table tr td dl dt{
	float: left;
}
.cartct table tr td dl dd{
	width: 180px;
	color: #0000FF;
	float: left;
}
.cartct table tr td dl dd b{
	font-style: normal;
	color: #F00;
}
.cartct table tr td span{
	width: 15px;
	height: 15px;
	border: 1px solid #CCCCCC;
	display: block;
	float: left;
	line-height: 14px;
	text-align: center;
	margin: 5px;
	cursor: pointer;
}
.cartct table tr td.info{
	width: 432px;
}
.cartct table tr td.cutadd{
	width: 100px;
}
.cartct table tr td p{
	width: 38px;
	height: 24px;
	border: 1px solid #CCCCCC;
	line-height: 24px;
	text-align: center;
	float: left;
}
.cartct .all{
	width: 997px;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #CCCCCC;
}
.cartct .all button{
	width: 98px;
	height: 40px;
	color: #666666;
	margin: 15px 0 0 20px;
}
.cartct .all .pa{
	width: 260px;
	height: 80px;
	float: right;
	margin-top: 25px;
	line-height: 20px;
}
.cartct .all .pb{
	height: 44px;
	background: #f1efef;
	margin-top: 50px;
	text-align: right;
	line-height: 50px;
}
.cartct .all .pb a{
	width: 140px;
	height: 44px;
	background: #de3a3a;
	display: block;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 44px;
	float: right;
	color: white;
	margin-left: 20px;
}
.cartct .all .pb b{
	font-size: 22px;
	color: #de3a3a;
}
.youhui{
	color: red;
}
.alsoshop{
	width: 927px;
	height: 488px;
	border: 1px solid #ccc;
	margin: 0 auto;
	padding: 20px 35px;
	position: relative;
}
.alsoshop h3{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
}
.alsoshop dl{
	width: 186px;
	height: 202px;
	float: left;
	margin: 15px 22px;
}
.alsoshop dl dd{
	margin: 10px 44px;
}
.alsoshop span{
	font-size: 30px;
	color: #CCCCCC;
}
.alsoshop span#lt{
	position: absolute;
	left: 20px;
	top: 250px;
}
.alsoshop span#gt{
	position: absolute;
	right: 20px;
	top: 250px;
}
 
