/*content*/
/*中间部分内容*/
.content{
	width: 1093px;
	margin: 0 auto;
	overflow: hidden;
}
.content .ctleft{
	width: 192px;
	height: 456px;
	margin-bottom: 45px;
	float: left;
}
.content .ctleft p{
	margin-top: 10px;
}
.content .ctleft p,
.content .ctleft .jiaoyi dl dt{
	height: 36px;
	background: white;
	line-height: 36px;
	font-size: 14px;
}
.content .ctleft .jiaoyi dl dt{
	border-bottom: 1px solid #f5f5f5;
}
.content .ctleft p img,
.content .ctleft .jiaoyi dl dt img{
	margin-left: 10px;
	vertical-align: middle;
}
.content .ctleft .jiaoyi{
	height: 226px;
	margin-top: 10px;
	background: white;
}
.content .ctleft div.zhanghu{
	height: 160px;
	
}
.content .ctleft .jiaoyi dl dd a{
	display: block;
	color: #666666;
	line-height: 28px;
	margin-left: 18px;
}
.content .ctleft .jiaoyi dl dd .moren{
	color: red;
}
.content .ctright{
	width: 888px;
	height: 418px;
	background: #FFF;
	margin: 10px 0 0 10px;
	float: left;
}
.content .ctright h3{
	width: 856px;
	height: 38px;
	border-bottom: 2px solid #F5F5F5;
	margin-left: 18px;
	line-height: 38px;
	font-size: 18px;
}
.content .ctright dl.touxiang{
	padding: 40px;
	width: 120px;
	float: left;
}
.content .ctright dl.touxiang dt{
	width: 122px;
	height: 122px;
}
.content .ctright dl.touxiang dd{
	width: 122px;
	line-height: 20px;
	text-align: center;
	color: red;
}
.content .ctright .shezhi{
	position: relative;
	width: 660px;
	height: 192px;
	border-left: 1px solid #F5F5F5;
	margin-top: 40px;
	float: left;
}
.content .ctright .shezhi .more{
	position: absolute;
	left: 30px;
	top: 30px;
	display: none;
}
.content .ctright .shezhi .ziliao{
	height: 30px;
	border-bottom: 1px solid #F5F5F5;
	line-height: 30px;
}
.content .ctright .shezhi .ziliao #spana{
	background: #F5F5F5;
}
.content .ctright .shezhi .ziliao span{
	display: block;
	float: left;
	width: 112px;
	height: 30px;
	font-size: 16px;
	border: 1px solid #F5F5F5;
	margin-right: 5px;
	text-align: center;
}
.content .ctright .shezhi form.geren dl{
	width: 618px;
	height: 30px;
	margin-top: 5px;
	line-height: 30px;
}
.content .ctright .shezhi form.geren dl dt{
	font-size: 14px;
	margin-left: 42px;
	float: left;
}
.content .ctright .shezhi form.geren dl dd{
	float: left;
}
.content .ctright .shezhi .superise{
	color: #666666;
	padding-left: 90px;
}
.content .ctright .shezhi a{
	width: 72px;
	height: 35px;
	display: block;
	background: #b81c22;
	color: white;
	font-size: 14px;
	font-weight: bold;
	line-height: 34px;
	text-align: center;
	margin: 28px 0 0 90px;
	border-radius: 3px;
}
.content .ctright .shezhi .more{
	width: 660px;
	height: 192px;
	background: yellow;
}
