/*content*/
/*中间部分内容*/
.content{
	width: 1093px;
	margin: 0 auto;
	overflow: hidden;
}
.content .ctleft{
	width: 192px;
	height: 456px;
	margin-bottom: 45px;
	float: left;
}
.content .ctleft p{
	margin-top: 10px;
}
.content .ctleft p,
.content .ctleft .jiaoyi dl dt{
	height: 36px;
	background: white;
	line-height: 36px;
	font-size: 14px;
}
.content .ctleft .jiaoyi dl dt{
	border-bottom: 1px solid #f5f5f5;
}
.content .ctleft p img,
.content .ctleft .jiaoyi dl dt img{
	margin-left: 10px;
	vertical-align: middle;
}
.content .ctleft .jiaoyi{
	height: 226px;
	margin-top: 10px;
	background: white;
}
.content .ctleft div.zhanghu{
	height: 160px;
	
}
.content .ctleft .jiaoyi dl dd a{
	display: block;
	color: #666666;
	line-height: 28px;
	margin-left: 18px;
}
.content .ctleft .jiaoyi dl dd a.moren{
	color: red;
}
.content .ctright{
	width: 886px;
	overflow: hidden;
	background: white;
	margin: 10px 0;
}
.content .ctright .weifukuan{
	width: 888px;
	height: 466px;
	background: #9ACD32;
	display: none;
}
.content .ctright .daifahuo{
	width: 888px;
	height: 466px;
	background: peru;
	display: none;
}
.content .ctright .daishouhuo{
	width: 888px;
	height: 466px;
	background: yellow;
	display: none;
}
.content .ctright .yiwancheng{
	width: 888px;
	height: 466px;
	background: lightpink;
	display: none;
}
.content .ctright h3{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding-left: 20px;
}
.content .ctright ul{
	height: 42px;
	margin-top: 10px;
	font-size: 14px;
	border-bottom: 1px solid #A2A2AF;
	border-top: 1px solid #A2A2AF;
	background: #f2f2f2;
}
.content .ctright ul li{
	width: 176px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	float: left;
	border-right: 1px solid #A2A2AF;
}
.content .ctright ul li.noborder{
	border: 0;
}
.content .ctright ul li.moren{
	background: white;
}
.content .ctright table{
	border: 1px solid #A2A2AF;
	width: 886px;
	height: 42px;
	margin-top: 20px;
}
.content .ctright table td{
	border: 1px solid #A2A2AF;
	text-align: center;
	color: #A2A2AF;
	padding: 5px 0;
	line-height: 18px;
}
.content .ctright .page{
	 width: 266px;
	 height: 30px;
	 float: right;
	 line-height: 40px;
	 margin: 10px 0 30px 0;
}
.content .ctright .page span{
	width: 84px;
	text-align: center;
	line-height: 30px;
	display: block;
	float: left;
	border: 1px solid #A2A2AF;
	margin: 5px;
}
.content .ctright .page span:hover{
	background: #666666;
	color: white;
}
.content .ctright .page b{
	width: 30px;
	text-align: center;
	line-height: 30px;
	display: block;
	float: left;
	background: #353535;
	color: white;
	border: 1px solid #A2A2AF;
	margin: 5px;
}
.content .ctright .page i{
	font-style: normal;
}
.content .ctright .shuoming{
	border-top: 1px solid #CCCCCC;
	margin-top: 64px;
	line-height: 24px;
	padding: 15px;
	color: #666666;
}
 
.content .ctright .shuoming .bb{
	margin-top: 30px;
	display: block;
}
