
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476865476'); /* IE9*/
  src: url('iconfont.eot?t=1476865476#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476865476') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476865476') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476865476#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouye-copy:before { content: "\e600"; }
.icon-fenlei:before { content: "\3553"; }
.icon-gouwuche:before { content: "\e607"; }
.icon-wode:before { content: "\e605"; }
.icon-gengduo:before { content: "\f0013"; }
.icon-sousuo:before { content: "\e604"; }
.icon-kaixin:before { content: "\e652"; }
.icon-kaixinwang:before { content: "\e7e3"; }
.icon-kaixinkefu:before { content: "\e64c"; }
.icon-happy:before { content: "\e62e"; }
.icon-kaixin1:before { content: "\e62f"; }
