<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta charset="UTF-8">
		<title>angular</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/angular.min.js"></script>
		<script src="//cdn.bootcss.com/angular.js/1.2.16/angular-route.min.js"></script>
		<script src="js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		<div class="wrap" ng-controller="myctrl">
			<header>
				<ul>
					<li ng-repeat="x in arr">
						<a href="" ng-click="$location.path('view/'+x.id)">{{x.nav}}</a>
					</li>
				</ul>
			</header>
			<div class="search">
				<input type="text" id="txt" ng-model="sx"/>
				<input type="button" value="搜索" id="btn" ng-click="search()"/>
			</div>
			<div class="main">
				<div ng-view></div>
			</div>
		</div>
	</body>
</html>
