* {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
html,
body {
  width: 100%;
  height: 100%;
  background: #eeeeee;
}
.top {
  width: 100%;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  background: black;
}
.top .top1 {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.top .top1 div {
  font-size: 0.8rem;
}
.baikuang {
  width: 80%;
  height: 1.5rem;
  background: white;
  display: flex;
  margin: 0 auto;
  margin-top: 10%;
}
.chihuo {
  width: 50%;
  height: 1rem;
  display: flex;
  margin: 0 auto;
  margin-top: 20%;
  justify-content: center;
}
