* {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
html,
body {
  width: 100%;
  height: 100%;
}
.top {
  width: 100%;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  background: black;
  position: fixed;
  top: 0;
}
.top .top1 {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header {
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px 0 gray;
  align-items: center;
  position: fixed;
  top: 2.2rem;
  background: white;
}
.header div {
  width: 49%;
  height: 0.9rem;
  text-align: center;
  line-height: 0.9rem;
  color: darkgray;
  border: 1px solid #fe9901;
}
.header div:nth-child(1) {
  background: #fe9901;
}
.header div:nth-child(2) {
  margin-left: -1px;
}
.main {
  width: 85%;
  background: #f2f2f2;
  display: flex;
  margin: 0 auto;
  margin-top: 3%;
  border: 1px solid #dedede;
  border-radius: 2px;
  flex-flow: column;
  margin-top: 3.7rem;
}
.main div {
  width: 85%;
  height: 3.95rem;
  margin: 0 auto;
  margin-top: 10%;
  border-bottom: 1px solid #DEDEDE;
}
.main div dl {
  width: 100%;
  height: 3.95rem;
  display: flex;
  justify-content: flex-start;
}
.main div dl dt {
  width: 3.4rem;
  height: 3.4rem;
  border: 1px solid #DEDEDE ;
  border-radius: 2px;
}
.main div dl dt img {
  width: 100%;
  height: 100%;
}
.main div dl dd {
  margin-left: 4%;
}
.main div dl dd p {
  color: darkgray;
  font-size: 0.55rem;
  margin-bottom: 0.55rem;
  font-weight: bold;
}
.main div dl dd p span {
  color: black;
}
.main div dl dd p:nth-child(1) {
  color: black;
}
.main1 {
  width: 85%;
  background: #f2f2f2;
  display: flex;
  margin: 0 auto;
  margin-top: 3%;
  border: 1px solid #dedede;
  border-radius: 2px;
  flex-flow: column;
  margin-top: 3.7rem;
  display: none;
}
.main1 div {
  width: 85%;
  height: 3.95rem;
  margin: 0 auto;
  margin-top: 10%;
  border-bottom: 1px solid #DEDEDE;
}
.main1 div dl {
  width: 100%;
  height: 3.95rem;
  display: flex;
  justify-content: flex-start;
}
.main1 div dl dt {
  width: 3.4rem;
  height: 3.4rem;
  border: 1px solid #DEDEDE ;
  border-radius: 2px;
}
.main1 div dl dt img {
  width: 100%;
  height: 100%;
}
.main1 div dl dd {
  margin-left: 4%;
}
.main1 div dl dd p {
  color: darkgray;
  font-size: 0.55rem;
  margin-bottom: 0.55rem;
  font-weight: bold;
}
.main1 div dl dd p span {
  color: black;
}
.main1 div dl dd p:nth-child(1) {
  color: black;
}
#kong {
  width: 100%;
  height: 2.7rem;
}
