* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 35rem;
  background-color: #f2f2f2;
}
/*头部部分*/
header {
  width: 100%;
  height: 2.2rem;
  background-color: #fff ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .txt_head {
  color: #7c7c7c;
  font-size: 0.7rem;
}
header .zuo1,
header .fenlei {
  font-size: 1rem ;
  color: #b0b0b0;
}
header .zuo1 {
  margin-left: 5%;
}
header .fenlei {
  margin-right: 5%;
}
/*头部部分*/
.top {
  width: 100%;
  height: 2rem;
  background-color: #fe0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
}
.top .txt_top {
  font-size: 1rem;
  font-weight: bold;
}
.top .zuo2 {
  font-size: 1rem;
  margin-left: 3%;
}
.top .che {
  font-size: 1.2rem;
  margin-right: 5%;
}
.top .shu {
  position: absolute;
  right: 0.4rem;
  top: 0.3rem;
  width: 0.8rem;
  height: 0.8rem;
  background: #000;
  opacity: 0.5;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.5rem;
  border-radius: 50%;
}
.btn {
  width: 6.2rem;
  height: 1.85rem;
  text-align: center;
  line-height: 1.85rem;
  color: #fff;
  border: 0;
  background: #d95550 url(../img/dizhi1.jpg) no-repeat 0.2rem 0.45rem;
  border-radius: 5px;
  margin: 0.5rem 0 0 3%;
  font-size: 0.6rem;
}
.main {
  width: 94%;
  height: 20.5rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin-top: 0.5rem;
}
.main h2 {
  width: 95%;
  padding-left: 5%;
  height: 2.1rem;
  line-height: 2.1rem;
  color: #666666;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #f2f2f2;
}
.main .main_txt1 {
  font-size: 0.8rem;
  margin-left: 3%;
  margin-top: 1rem;
  font-weight: bold;
}
.main .text1 {
  width: 94%;
  height: 1.7rem;
  border: 1px solid #e3e3e3;
  display: block;
  box-shadow: inset 0 2px 3px #d9d9d9 ;
  margin: 0 auto;
  margin-top: 0.1rem;
  border-radius: 5px;
}
.main .main_txt2 {
  font-size: 0.8rem;
  margin-left: 3%;
  margin-top: 1.2rem;
  font-weight: bold;
}
.main .control-group .controls {
  width: 94%;
  height: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main .btn1 {
  width: 2rem;
  height: 1.2rem;
  border-radius: 5px;
  text-align: center;
  line-height: 0.85rem;
  margin-top: 0.8rem;
}
.main .btn2 {
  background-color: #d5574b;
  color: #fff;
  border: 0;
  margin-left: 3%;
}
.main .btn3 {
  background-color: #e0dae4;
  color: #000;
  border: 0;
}
footer {
  font-size: 0.5rem;
  color: #44534e;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer span {
  font-size: 1rem;
}
.kong {
  width: 100%;
  height: 2.7rem;
}
@media only screen and (min-width: 640px) {
  .control-group .controls select {
    width: 30%;
  }
}
