body，html {
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
  height: 2.2rem;
  font-size: 0.8rem;
  background: gainsboro;
  font-family: "微软雅黑";
  color: #797876;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a:nth-child(1) {
  margin-left: 0.8rem;
}
header .font_1 {
  font-size: 1.2rem;
}
header a:nth-child(3) {
  margin-right: 0.75rem;
}
.fox {
  height: 2.25rem;
  width: 100%;
  background: #1c5f96;
  text-align: center;
  line-height: 2.25rem;
  font-size: 0.8rem;
  color: #f9f6e7;
  font-family: "微软雅黑";
  position: relative;
}
.fox a {
  position: absolute;
  left: 0.75rem;
}
.pic {
  width: 100%;
}
.pic img {
  width: 100%;
}
.kongbai {
  width: 100%;
  height: 2.5rem;
}
