body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
header {
  width: 100%;
  height: 2.2rem;
  background: white;
}
nav {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #eeeeee;
}
nav #txt {
  width: 70%;
  height: 1.4rem;
  border-radius: 3px;
  background-image: url(../img/fenleipic1.png);
  background-size: 0.8rem 0.8rem;
  background-repeat: no-repeat;
  background-position: 0.3rem center;
  padding-left: 1.5rem;
  font-size: 0.7rem;
  border: none;
}
nav #btn {
  width: 12%;
  height: 1.4rem;
  border-radius: 3px;
  color: white;
  background: #007aff;
  font-size: 0.7rem;
  border: none;
}
#main {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
#main #mainc {
  width: 94%;
}
#main #mainc ul {
  width: 100%;
}
#main #mainc ul li {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  font-size: 0.7rem;
}
#main #mainc #foot {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  font-size: 0.7rem;
}
footer {
  width: 100%;
  height: 2.5rem;
}
