html{
  width: 100%;
  body{
    width: 100%;
    .banner{
      position: relative;
      width: 100%;
      .swiper-wrapper{
        width: 500%;
        display: flex;
        .swiper-slide{
          width: 20%;
          img{
            width: 100%;
          }
        }
      }
      .swiper-pagination{
        span{
          width: 1.25rem;
          height: 0.2rem;
          margin: 0 0.25rem;
          border-radius: 0;
        }
        span.swiper-pagination-bullet-active{
          background: #f60;
        }
      }
    }
    form{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 2.25rem;
      background: #eee;
      .txt{
        width: 9.5rem;
        height: 1.5rem;
        border: 0 none;
        padding: 0 1.5rem;
        line-height: 1.5rem;
        background: #fff url("../img/index-icon1.png") 0.4rem center no-repeat;
        background-size: 0.75rem;
        -webkit-background-size: 0.75rem;
        border-radius: 0.15rem;
        font-size: 0.7rem;
      }
      .btn{
        width: 1.9rem;
        height: 1.5rem;
        background: #fc0;
        border: 0 none;
        color: #fff;
        line-height: 1.5rem;
        text-align: center;
        border-radius: 0.2rem;
        font-size: 0.7rem;
      }
    }
    .type{
      width: 100%;
      margin-top: 0.25rem;
      height: 2.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
      .name{
        display: flex;
        height: 1.4rem;
        width: 4.7rem;
        justify-content: space-between;
        i{
          width: 0.2rem;
          height: 100%;
          background: #f60;
        }
        p{
          line-height: 1.4rem;
          font-size: 1rem;
        }
      }
      .more{
        width: 3.2rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border: 1px solid #f90;
        border-radius: 0.4rem;
        color: #f90;
        text-align: center;
        font-size: 0.75rem;
        margin-right: 0.4rem;
      }
    }
    .goods{
      width: 100%;
      padding-bottom: 0.25rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      a{
        margin-top: 0.5rem;
        width: 45%;
        display: flex;
        justify-content: center;
        height: 10rem;
        border: 1px solid #eee;
        color: #666;
        dl{
          width: 7rem;
        }
        img{
          width: 100%;
        }
        p{
          padding: 0 0.25rem;
        }
        p.descri{
          margin-top: 0.2rem;
          height: 1.3rem;
          white-space: nowrap;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.6rem;
        }
        p.money{
          display: flex;
          justify-content: space-between;
          color: #e4393c;
          font-weight: 700;
          font-size: 0.7rem;
          span{
            color: #666;
            font-weight: normal;
            text-decoration: line-through;
            font-size: 0.6rem;
          }
        }
      }
      a:hover{
        color: #000;
      }
    }
    footer{
      height: 2.2rem;
      line-height: 2.2rem;
      width: 100%;
      background: #eee;
      font-size: 0.7rem;
      text-align: center;
    }
    .empty{
      width: 100%;
      height: 2.8rem;
    }
  }
}