* {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
html,
body {
  width: 100%;
  height: 100%;
  background: #d9e8eb;
}
.top {
  width: 100%;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  background: black;
}
.top .top1 {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header {
  width: 100%;
  height: 2.2rem;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dadada;
  color: #575757;
  font-weight: bold;
}
.chakan {
  width: 100%;
  height: 2.2rem;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dadada;
  font-weight: bold;
}
