body,
html {
  height: 100%;
  width: 100%;
  font-family: "微软雅黑";
}
body {
  background: #f1eee5;
}
header {
  width: 100%;
  height: 2.2rem;
  font-size: 0.8rem;
  background: gainsboro;
  font-family: "微软雅黑";
  color: #797876;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a:nth-child(1) {
  margin-left: 0.8rem;
}
header .font_1 {
  font-size: 1.2rem;
}
header a:nth-child(3) {
  margin-right: 0.75rem;
}
nav {
  width: 100%;
  height: 6.1rem;
  background: #1c5f96;
  padding-left: 0.75rem;
  padding-top: 1.4rem;
  color: white;
  font-family: "微软雅黑";
}
nav p {
  font-size: 0.75rem;
}
nav span {
  font-size: 1.625rem;
  height: 3.525rem;
  line-height: 3.525rem;
}
nav .font_1 {
  font-size: 0.8rem;
}
.main {
  background: white;
  height: auto;
  width: 90%;
  padding: 0 5%;
  margin-bottom: 1rem;
}
.main ul li {
  width: 100%;
  height: 2.55rem;
  border-bottom: 0.05rem solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main ul li div:nth-child(1) a {
  padding-right: 0.25rem;
  font-size: 0.75rem;
  color: #ff2932;
}
.main ul li div:nth-child(1) span {
  font-size: 0.75rem;
  color: #2b2b2b;
}
.main ul li div:nth-child(1) .font_2 {
  font-size: 0.8rem;
  color: #f8a362;
}
.main ul li div:nth-child(2) {
  padding-right: 1rem;
  font-size: 0.5rem;
  color: #ff2932;
}
.main input:nth-child(2) {
  margin: 1rem 0;
  width: 100%;
  background: #f1f1f1;
  font-size: 1rem;
  height: 2.4rem;
  border: 0.025rem solid #e0e0e0;
  border-radius: 0.2rem;
  cursor: pointer;
}
.main input:nth-child(3) {
  width: 100%;
  background: #f37873;
  color: #eaffea;
  font-size: 1rem;
  height: 2.4rem;
  border: 0.025rem solid #e0e0e0;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.kongbai {
  width: 100%;
  height: 2.5rem;
  background: white;
}
.tuiguang {
  font-family: "微软雅黑";
  width: 90%;
  padding: 0 5%;
  height: 3.5rem;
  background: white;
  font-size: 0.7rem;
  line-height: 1rem;
  border-bottom: 0.05rem solid #ececec ;
  display: flex;
  align-items: center;
}
.share {
  height: 3.5rem;
  background: white;
  width: 90%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share .font_4 {
  font-size: 2rem;
  color: #55bfe3;
}
.share span {
  font-size: 0.5rem;
  flex-grow: 1;
  padding-left: 0.3rem;
}
.share .font_5 {
  font-size: 1rem;
  color: gray;
}
