body，html {
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
  height: 2.2rem;
  font-size: 0.8rem;
  background: gainsboro;
  font-family: "微软雅黑";
  color: #797876;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a:nth-child(1) {
  margin-left: 0.8rem;
}
header .font_1 {
  font-size: 1.2rem;
}
header a:nth-child(3) {
  margin-right: 0.75rem;
}
.main {
  width: 90%;
  padding: 0 5%;
  font-family: "微软雅黑";
  border-bottom: 0.075rem solid #f0f0f0;
}
.main ul {
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main ul li {
  padding-top: 0.5rem;
  width: 50%;
  height: 1.925rem;
  color: #626365;
  text-align: center;
  font-size: 0.5rem;
  align-self: center;
  cursor: pointer;
  border-bottom: 0.1rem solid #ffffff;
}
.main ul li .font_3 {
  font-size: 1rem;
  color: #626365;
}
.main ul li p {
  height: 0.7rem;
  line-height: 0.7rem;
}
.main ul .active {
  color: #40abcf;
  border-bottom: 0.1rem solid #40abcf;
}
.main ul .active a {
  color: #40abcf;
}
.main_b {
  width: 100%;
  font-family: "微软雅黑";
  position: relative;
}
.main_b div {
  width: 100%;
  text-align: center;
  padding-top: 4rem;
  display: none;
  position: absolute;
  color: #afafaf;
  top: 0;
  left: 0;
}
.main_b div a {
  font-size: 5rem;
  color: #afafaf;
}
.main_b div p {
  font-size: 0.6rem;
}
.main_b .active_div {
  display: block;
}
.kongbai {
  width: 100%;
  height: 2.5rem;
}
