body span {
  display: block;
}
* {
  padding: 0;
  margin: 0;
}
.top {
  width: 96%;
  height: 2.2rem;
  padding: 0% 2%;
  display: flex;
  justify-content: space-between;
}
.top span {
  font-size: 1rem;
  line-height: 2.2rem;
}
.heater {
  width: 100%;
  height: 6rem;
  background: url(../img/ZX_1.png);
  background-size: 100% 100%;
  display: flex;
}
.heater .heater_L {
  width: 33.33333%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.heater .heater_L div {
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 0.5rem;
}
.heater .heater_L div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.heater .heater_R {
  width: 66.666666%;
  height: 4rem;
  padding: 1rem 0rem;
}
.heater .heater_R p {
  color: white;
  display: flex;
  font-size: 0.4rem;
  line-height: 1rem;
}
.heater .heater_R p span {
  display: flex;
}
.heater .heater_R p span span {
  color: yellow;
}
.jiFen {
  width: 100%;
  height: 3.625rem;
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  background-color: #e4f7fe;
}
.jiFen div {
  width: 33.33333%;
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-left: 0.025rem solid rgba(78, 14, 75, 0.04);
}
.jiFen div span {
  width: 100%;
  text-align: center;
  color: #84898d;
}
.jiFen div span:nth-child(1) {
  font-size: 1rem;
  color: #55a0bf;
}
.jiFen div:nth-child(1) {
  border-left: 0rem solid #eefcff;
}
.tJu {
  width: 100%;
  height: 1.5rem;
  background: url(../img/ZX_2.png) repeat-x;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}
.main {
  width: 100%;
}
.main ul {
  width: 100%;
}
.main ul li {
  width: 96%;
  padding: 0% 2%;
  height: 2.35rem;
  display: flex;
  flex-wrap: wrap;
  border-top: 0.025rem solid #dddddd;
  color: #393939;
  overflow: hidden;
}
.main ul li div {
  align-items: center;
  width: 100%;
  display: flex;
  height: 2.35rem;
  border-bottom: 0.025rem solid #dddddd;
}
.main ul li div .span {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  margin-right: 2%;
  color: white;
  border-radius: 50%;
  background: #f9b331;
}
.main ul li div h5 {
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  width: 88%;
  align-items: center;
}
.main ul li div h5 .span2 {
  display: flex;
  width: 2.4rem;
  height: 0.75rem;
  font-size: 0.8rem;
  justify-content: flex-end;
  align-items: center;
  color: #dddddd;
}
.main ul li div h5 .span2 .mun {
  width: 1.7rem;
  height: 0.75rem;
  background-color: red;
  border-radius: 46%;
  margin-right: 0.6rem;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.75rem;
}
.main ul li .hYuan {
  line-height: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
}
.main ul li .hYuan div {
  width: 86%;
  padding: 0% 4% 0% 10%;
}
.main ul li .hYuan div h5 {
  width: 100%;
}
.main ul li .hYuanB div {
  border-bottom: none;
}
.main p {
  height: 0.4rem;
  width: 100%;
  border-top: 0.025rem solid #dddddd;
  background-color: #eeeeee;
}
.bQuan {
  width: 100%;
  height: 1.75rem;
  background-color: #eeeeee;
  border-top: 0.025rem solid #dddddd;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bQuan span {
  font-size: 1.2rem;
}
#kong {
  width: 100%;
  height: 2.7rem;
}
